# Operadores Booleanos

Un booleano es $1$ o $0$, verdadero o falso.  Con operadores como **and**, **or** o **not**, se pueden realizar consultas nuevas combinando estos operadores.

In [1]:
# Define Variables
my_house = 120.0 # mts^2
your_apartment = 72.0 # mts^2

# my_house is bigger than 100 and smaller than 120?
print(my_house>100 and my_house<120)

False

In [2]:
# my_house smaller than 72 or bigger than 110?
print(my_house<72 or my_house>110)

True

In [3]:
# Double my_house smaller than triple your_apartment?
print(2*my_house < 3*your_apartment)

False

In [4]:
# Using not
print(not my_house > 100)

False

## Ejercicio 1

Para el siguiente codigo de python:

```python 
x = 9
y = 10
not(not(x < 4) and not(y > 15 or y > 10))
````

Cuál sería el resultado si ejecutamos este código?

a. True

b. False

c. Correr este comando genera un error

In [5]:
x = 9
y = 10
not(not(x < 4) and not(y > 15 or y > 10))

False

# Estructuras de Control

## IF

Condición es de tipo booleano, y cuando ésta se cumple se ejecuta el bloque.

```python
if condicion1:
  bloque1
elif condicion2:
  bloque2
else:
  bloque3
```

### Ejercicio 2

Teniendo este código en Python:

```python
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")
````

Cuál sera la salida si se ejecuta?

a. small

b. medium

c. large

d. Error de sintaxis

In [6]:
# Define variables
room = "bed"
size = 180.0

# f-elif-else construct for room
if room == "bed" :
    print("looking around in the bedroom.")
elif room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if statement for area
if size > 180 :
  print("big place!")
elif size > 100 :
    print("medium size, nice!")
else: 
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

### Ejercicio 3

Dado un número entero $n$, realice las siguientes acciones condicionales:

1. Si es impar imprima 'Extraño'
2. Si es par y esta en el rango inclusive de 2 a 5, imprima 'No Extraño'
3. Si es par y esta en el rango inclusive de 6 a 20, imprima 'Extraño' 
4. Si es par y es más grande que 20, imprima 'No Extraño'

***Ejemplos:***
$$n = 3$$
$n$ es impar y los números impares son de tipo 'Extraño', así que debe de imprimir 'Extraño'.
$$n = 24$$
$n$ es par y es mayor que 20, los números pares mayores que 20 son de tipo ' No Extraño', así que debe de imprimir 'No Extraño'.

In [ ]:
# Your code

n = int(input("n: "))
if n % 2 != 0:
  print("Extraño")
elif n>=2 and n<=5:
  print("No Extraño")
elif n>=6 and n<=20:
  print("Extraño")
elif n>20:
  print("No Extraño")

## WHILE

El ciclo while se ejecuta mientras la condición sea cierta, si la condición es falsa al inicio, el bloque no se ejecuta y se pasan a ejecutar las sentencias que le siguen. En Python, cualquier valor entero distinto de cero es verdadero y 0 es falso. La condición también puede ser una lista o cualquier secuencia, siendo la secuencia vacía falsa. El cuerpo del bucle debe estar identado, ya que de este modo Python agrupa las sentencias.

```python
while condicion:
  bloque
```

### Ejercicio 4

Cuántos impresiones hará este ciclo de while?

```python
x = 1
while x < 4 :
    print(x)
    x = x + 1
```

a. 0

b. 1

c. 2

d. 3

In [ ]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0:
    print("correcting...")
    offset = offset - 1 # You can use too: offset -= 1  
    print(offset)

In [ ]:
# Iterate Lists
lista = ['a','e','i','o','u']
while lista:
  print(lista.pop())

In [ ]:
z = 3

while z !=  1  :  # any boolean condition could be placed here. Also, notice the : at the end!
    print( f"z = {z}" )
    if z % 2 == 0 : # if z is even, divide by 2
        z = z // 2 
    else : 
        z = 3 * z + 1 # if z is odd, multiply by 3 add 1

## FOR

Ejecuta un bloque $n$ cantidad de veces, inicia desde $0$ hasta $n-1$. Python permite iterar no solo sobre progresiones aritméticas, sino que recorre los elementos de una secuencia, ya sea lista o cadena, en el orden en que estos aparecen en la misma.

```python
for idx in range(0,n):
  bloque

for elem in lista:
  bloque
```

El uso del ciclo para iterar la lista solo da acceso a todos los elementos de la lista, si también se desea acceder a la información del índice se puede usar el método `enumerate()`

```python
for indice,elemento in enumerate(lista):
  print("Indice" + str(indice) + ":" + str(elemento)
````

### FOR sobre Listas

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# for loop using enumerate()
for idx,a in enumerate(areas) :
    print("room" + str(idx) + ":" + str(a))

In [ ]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
# For structure
for elem in house:
    print("the "+str(elem[0]) + " is "+ str(elem[1]) + "sqm")

### FOR sobre Diccionarios

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key in europe:
  print("the capital of "+key+ " is "+europe[key])

In [ ]:
# Iterate over europe.items()
for key, value in europe.items() :
  print("the capital of "+key+ " is "+value)

In [ ]:
# Iterate over europe.keys()
for key in europe.keys() :
  print("the capital of "+key+ " is "+europe[key])

In [ ]:
# Iterate over europe.values()
for value in europe.values() :
  print("the capitals is "+value)

### Ejercicio 5

Escriba una función que genere un diccionario donde las claves son los numeros del 1 al 15 (ambos incluidos) y los valores son el cuadrado de las claves.

Ejemplo:
```python
{
  1 : 1,
  2 : 4,
  3 : 9,
  ...
}
```

In [ ]:
# Your code
dic = {}

for i in range(1,16):
  dic[i] = i**2

print(dic)

## Control de ciclos

### Break

Esta función se puede usar en ciclos FOR y WHILE y simplemente termina el ciclo actual y continua con la ejecución de la siguiente instrucción.

In [ ]:
# Break in FOR
for char in "Python":
    if char == "h":
        break
    print ("char : " + char)

In [ ]:
# Break in FOR
for i in range(1, 12) : 
    print( f"i = {i}" )
    if i == 7 :  
        print( "Found 7, everybody's favorite number! No need to keep working!")
        break

In [ ]:
# Break in WHILE
value = 10
while value > 0:
    value = value -1
    if value == 5:
        break
    print ("value : " + str(value))

print ("End Script")

### Continue

Esta función regresa al comienzo del ciclo, ignorando las siguientes lineas de código del ciclo actual e inicia la siguiente iteración.  Se puede usar en ciclos FOR y WHILE.

In [ ]:
# Continue in FOR
for char in "Python":
    if char == "h":
        continue
    print ("char : " + char)

In [ ]:
# Continue in FOR
for i in range(1, 12):      
    if i % 5 == 0 : # if i is a multiple of 5 
        print( "I don't like multiples of 5, skipping this one")
        continue  # this jumps directly to the beginning of the loop, skipping the rest of _this_ iteration!  
        
    print( f"i = {i}")

In [ ]:
# Continue in WHILE
value = 10
while value > 0:
    value = value -1
    if value == 5:
        continue
    print ("value : " + str(value))

print ("End Script")

### Pass

Es una operación no sucede nada cuando se ejecuta.  Se utiliza cuando se requiere por sintaxis una declaración pero no se quiere ejecutar ningún código.  También se usa como un código temporal, hasta que se escriba el código final.

In [ ]:
# Pass in FOR
for char in "Python":
    if char == "h":
        pass
    print ("char : " + char)

In [ ]:
# Pass in WHILE
value = 10
while value > 0:
    value = value -1
    if value == 5:
        pass
    print ("value : " + str(value))

print ("End Script")

# Errores y Excepciones

Hay dos tipos de errores diferentes: *errores de sintaxis* y *excepciones*.

## Errores de sintaxis

En los errores de sintaxis, el interprete repite la línea culpable del error.

```python
while True print('Hola mundo')
```
```python
File "<stdin>", line 1
  while True print('Hola mundo')
                  ^
SyntaxError: invalid syntax
```

## Excepciones

Sin importar que la declaración este sintácticamente correcta, puede generar un error cuando se intenta ejecutarla. Los errores detectados durante la ejecución se llaman excepciones pueden ser manejados por los programas en Python. 

La declaración `try` nos permite manejar las excepciones y trabaja de la siguiente manera:

1. Se ejecuta el *bloque try* (el código entre la declaración `try`y `except`)
2. Si no ocurre una excepción el `boque except` se omite y termina la ejecución de la declaración `try`.
3. Si ocurre una excepción durante la ejecución del *bloque try*, el resto del bloque se omite.  Si el tipo de excepción coincide con la excepción nombreada luevo de la palabra reservada `except`, se ejecuta el *bloque except*, y la ejecución continúa luego de la declaración `try`.
4. Si ocurre una excepción que no coincida con la excepción nombrada en el `except`, esta es una excepción no manejada y la ejecución se frena con un mensaje de error indicando lo que sucedió, por ejemplo: **ZeroDivisionError**, **NameError**, **TypeError** y **ValueError**.

In [ ]:
# ZeroDivisionError
10 * (1/0)

In [ ]:
# NameError
4 + spam*3

In [ ]:
# TypeError
'2' + 2

In [ ]:
#ValueError
float("juan")

In [ ]:
# try-except structure with particular type of exception defined
my_string = "asdad"
try : 
    my_string_as_float = float( my_string ) 
    print( "the entered value could be converted directly to a number")
except ValueError as err :  
    # capture this particular type of exception and bind it to the name 'err'
    print( "an exception was thrown: defaulting to special float value = nan")
    a_as_float = float( "nan")
print( f"a_as_float = {a_as_float}")

In [ ]:
# try-except structure with general type of exception
my_string = "asdad"
try : 
    my_string_as_float = float( my_string ) 
    print( "the entered value could be converted directly to a number")
except:  
    # capture this particular type of exception and bind it to the name 'err'
    print( "an exception was thrown: defaulting to special float value = nan")
    a_as_float = float( "nan")
print( f"a_as_float = {a_as_float}")

In [ ]:
# try-except structure with general type of exception and print error
my_string = "asdad"
try : 
    my_string_as_float = float( my_string ) 
    print( "the entered value could be converted directly to a number")
except Exception as inst:  
    # capture this particular type of exception and bind it to the name 'err'
    print( f"an exception was thrown: {inst}")
    a_as_float = float( "nan")
print( f"a_as_float = {a_as_float}")

In [ ]:
# try-except structure with general type of exception
my_string = "asdad"
try : 
    my_string_as_float = float( my_string ) 
    print( "the entered value could be converted directly to a number")
except:
    # capture this particular type of exception and bind it to the name 'err'
    print( "an exception was thrown: defaulting to special float value = nan")
    a_as_float = float( "nan")
print( f"a_as_float = {a_as_float}")

La declaración `try` tiene otra clausula opcional `finally` que intenta definir acciones de limpieza que deben ser ejecutadas bajo ciertas circustancias. La cláusula `finally` siempre es ejecutada antes de salir de la declaración `try`, ya sea que una excepción haya ocurrido o no.

In [ ]:
# structure try-except-finally
try:
  result = x / 0
  #result = 4/2
except ZeroDivisionError:
  print("¡división por cero!")
else:
  print("el resultado es", result)
finally:
  print("ejecutando la clausula finally")

# Clases

Las clases proveen una forma de empaquetar datos y funcionalidad juntos. Al crear una nueva clase, se crea un nuevo *tipo* de objeto, permitiendo crear nuevas *instancias* de este tipo.  Cada instancia de clase puede tener atributos adjuntos para mantener su estado.  Las instancias de clase también pueden tener métodos (definidos por su clase) para modificar su estado.

La variable *self* es una instancia de la clase y no es ua palabra reservada de Python, cualquier etiqueta utilizada como primer parámetro tendría el mismo valor (no se aconseja usar otro valor por convención).  Cada vez que declaremos un método en Python, vamos a tener uqe agregarle la variable *self* para que cuando sea invocado el método, Python pase el objeto instanciado y opere con los valores actuales de esa instancia.

In [ ]:
# Definimos la clase con nombre Mascota
class Mascota:
  # Atributos
  especie = 'Gato'

  
  def __init__(self,nombre,especie=especie):
    """
      El método __init__ es una función para inicializar la clase, si no se especifica la especie toma el valor por defecto definido en el atributo.
    """
    self.nombre = nombre
    self.especie = especie
    self._private=None
  
  def __str__(self):
    """
      El método __str__ es una función que proporciona una cadena informal de la representación del objeto.
    """
    return "%s es un %s" % (self.nombre, self.especie)

  def darNombre(self):
    """
      Retorna el nombre de la mascota.
    """
    return self.nombre
  
  def darEspecie(self):
    """
      Retorna la especie de la mascota.
    """
    return self.especie

In [ ]:
Teo = Mascota("Teo","Perro")

In [ ]:
print(Teo)

In [ ]:
Teo.especie='Gato'

In [ ]:
print(Teo)

In [ ]:
?Teo.darEspecie

# Funciones lambda

Lambdas es la forma de Python de definir funciones anónimas muy simples cuyo valor de retorno es el resultado de evaluar una sola expresión.

```python
lambda argumentos: resultado
```

Una de las razones por las que desees utilizar este tipo de funciones es por rapidez y en ciertos casos claridad del código.

In [ ]:
# Define function
def function_sum(x,y):
  return x + y
function_sum(2,3)

In [ ]:
# Define lambda
lambda_function = lambda x,y: x + y
lambda_function(2,3)

## Usando Lambda con Sorted

In [ ]:
data_recs = [
  [ "Maria",  7.0, 8.0, 3.0 ],
  [ "Juan" ,  5.0, 2.0, 2.0 ],
  [ "Mateo",  1.0, 4.0, 4.0 ],     
]

Se quiere ordenar estos registros por el valor del primer componente numérico (índice 1 en la lista)

In [ ]:
data_recs[:][1]

In [ ]:
records_sorted = sorted(data_recs, key = lambda rec : rec[1])
records_sorted

## Ejercicio 6

Modifique el anterior ejemplo y ordene los registros en order descendiente por el ultimo record. Ayuda ( reverse = True )

In [ ]:
help(sorted)

In [ ]:
# Your Code
records_sorted = sorted(data_recs, key = lambda rec : rec[-1],reverse=True)
records_sorted

# Función filter()

Es una función que permite filtrar, a partir de una lista o iterador y una función condicional, es capaz de devolver una nueva colección con los elementos filtrados que cumplan la condición.  En este tipo de función las funciones `lambda` son muy utiles.

La función `filter(funcion,iterable)` construye una lista con aquellos elementos en los cuales `funcion(iterable[i])` retorna `True`.

In [ ]:
a = [0, 1, -1, -2, 3, -4, 5, 6, 7]
list(filter(lambda x: x > 0, a))

In [ ]:
def multiple(numero):    # Primero declaramos una función condicional
    if numero % 5 == 0:  # Comprobamos si un numero es múltiple de cinco
        return True      # Sólo devolvemos True si lo es

numeros = [2, 5, 10, 23, 50, 33]

list(filter(multiple, numeros))

In [ ]:
list( filter(lambda numero: numero%5 == 0, numeros) )

## Filtrando objetos

In [ ]:
# Definimos una clase persona
class Persona:

    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)

# Se crea una lista con 4 personas
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

# Visualizamos la lista
for p in personas:
    print(p)

In [ ]:
# Se desea filtrar los menores de 18
menores = filter(lambda persona: persona.edad < 18, personas)

# Visualizamos los objetos de la lista filtrada
for menor in menores:
    print(menor)

# Función map()

Funciona similar a `filter()`, con la diferencia que en lugar de aplicar una condición a un elemento de una lista o secuencia, aplica una función sobre todos los elementos y como resultado se devuelve un iterable de tipo map.

In [ ]:
numeros = [2, 5, 10, 23, 50, 33]
list( map(lambda x: x*2, numeros) )

La función `map()` se utiliza mucho junto a expresiones lambda ya que permite ahorrar esfuerzo creando ciclos FOR.  Adicional se puede utilizar sobre más de un iterable con la condición que tengan la misma longitud.

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

list( map(lambda x,y : x*y, a,b) )

In [ ]:
c = [11, 12, 13, 14, 15]

list( map(lambda x,y,z : x*y*z, a,b,c) )

## Mapeando objetos

In [ ]:
personas = map(lambda p: Persona(p.nombre, p.edad+1), personas)

for persona in personas:
    print(persona)

# List comprehensions

Es una funcionalidad que nos permite crear listas en una misma linea de codigo.

## Ciclos y List Comprenhensions

Supongamos que nos dan: 

* Una lista de entrada input_arr = [elem1, elem2, elem3, ...]
* Una función fun

Queremos producir el array output_arr = [fun (elem1), fun (elem2), fun (elem3)], es decir, con aplicar fun a cada elemento de la matriz y devolver los resultados.

Aquí es cómo la mayoría de los programadores abordarían este problema:

In [ ]:
input_arr = ["maria", "ana", "sara"]
capitalize = lambda a_str :  a_str[0].upper() + a_str[1:]

# NON-Idiomatic Python code follows: 
output_arr = []
for elem in input_arr : 
    output_arr.append( capitalize( elem ) )
    
output_arr

Eso es aproximadamente 3 líneas. No está mal, pero podría ser mucho mejor.
La solución idiomática de Python se llama **List (or for) comprehension**.

```python
[funcion(x) for item in list1]
```

In [ ]:
output_arr2 = [ capitalize(elem)  for elem in input_arr ]
print(output_arr2)

## Condicionales en List Comprehensions

En este caso se desea realizar un condicional para definir el valor, se tienen dos estructuras, si la condición solo tiene IF, o si se tiene la estructura IF-ELSE

```python
[result1 if conditional else result2 for item in list1 ]
[result for item in list1 if conditional]
```

In [ ]:
squares_cubes = [n**2 if n%2 == 0 else n**3 for n in range(1,16)]
print(squares_cubes)

In [ ]:
evens = [n for n in range(1,21) if n%2 == 0] 
print(evens)

## List Comprehensions para ciclos anidados

También puede usarse para realizar operaciones en ciclos anidados como recorrer una lista de listas.

```python
[ <the_expression> for <element_a> in <iterable_a> (optional if <condition_a>)
                   for <element_b> in <iterable_b> (optional if <condition_b>)
                   for <element_c> in <iterable_c> (optional if <condition_c>)
                   ... and so on ...]
```

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
 
flatten = [n for row in matrix if sum(row)>11 for n in row if n%2==0]
 
print(flatten)

## List Comprehensions anidados

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
 
transpose = [[row[n] for row in matrix] for n in range(4)]
 
print(transpose)

## Ejercicio 7

Defina una función avg1 que tome una lista que conste del nombre de una persona (str) y luego solo números y calcula y devuelve el promedio de esos números.

Por ejemplo: 
```python
avg1 (['Mateo', 5.0, 2.0, 2.0])
``` 
debe devolver 3, es el resultado de realizar la siguiente operación: `((5 + 2 + 2) / 3))`

In [ ]:
# Your code
def avg1(lista):
  return sum(lista[1:])/3
  
avg1 (['Mateo', 5.0, 2.0, 2.0])

## Ejercicio 8

Use list-comprehension para aplicar la función avg1 definida anteriormente a cada registro en data_recs.

```python
data_recs = [
  [ "Juan" ,  5.0, 2.0, 2.0 ],
  [ "Maria",  7.0, 8.0, 3.0 ], 
  [ "Mateo",  1.0, 4.0, 4.0 ],     
]
````

In [ ]:
# Your Code
print(data_recs)
[avg1(elem) for elem in data_recs]

In [ ]:
temp = [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[str(row)+str(i) for row in temp] for i in range(3)]

# Módulos y Paquetes

Los módulos son ficheros que contienen definiciones que se pueden importar en otros scripts para reutilizar funcionalidades.  Se pueden organizar en paquetes y subpaquetes, adicional se importarian sólo cuando es necesario.

Nosotros podemos crear nuestros propios módulos o paquetes, o utilizar ya algunos creados por otras personas y que estan disponibles para su uso.  

Para instalar un paquete en Python se realiza de la siguiente manera:

```python
pip install pandas
````

Si se desea desinstalar:
```python
pip uninstall pandas
````

In [ ]:
!pip install pandas

In [ ]:
!ls

In [ ]:
!mkdir temp

## Módulos estándar

Estos son algunos módulos esenciales de Python:

###**collections**

Añade funcionalidades especificas a las listas.

In [ ]:
from collections import Counter

l = [1,2,3,4,1,2,3,1,2,1]
Counter(l)

In [ ]:
animales = "gato perro canario perro canario perro"
c = Counter(animales.split())
print(c)


###**datetime**

Utilizado para manejar las fechas y las horas.

In [ ]:
from datetime import datetime

dt = datetime.now()    # Fecha y hora actual

print(dt)
print(dt.year)         # año
print(dt.month)        # mes
print(dt.day)          # día

print(dt.hour)         # hora
print(dt.minute)       # minutos
print(dt.second)       # segundos
print(dt.microsecond)  # microsegundos

print("{}:{}:{}".format(dt.hour, dt.minute, dt.second))
print("{}/{}/{}".format(dt.day, dt.month, dt.year))

In [ ]:
from datetime import datetime, timedelta

dt = datetime.now()
print(dt.strftime("%A %d de %b del %y - %H:%M"))

In [ ]:
# Generamos 14 días con 4 horas y 1000 segundos de tiempo
t = timedelta(days=14, hours=4, seconds=1000)

# Lo operamos con el datetime de la fecha y hora actual
dentro_de_dos_semanas = dt + t
print(dentro_de_dos_semanas.strftime("%A %d de %B del %Y - %H:%M"))
hace_dos_semanas = dt - t
print(hace_dos_semanas.strftime("%A %d de %B del %Y - %H:%M"))

###**math**

Incluye funciones matematicas.

In [ ]:
import math

print(math.floor(3.99))  # Redondeo a la baja (suelo)
print(math.ceil(3.01))   # Redondeo al alta (techo)

In [ ]:
print(math.pi)  # Constante pi
print(math.e)   # Constante e

###**random**

Sirve para generar contenidos aleatorios, escoger aleatoriamente valores y este tipo de cosas que hacen que un programa tenga comportamientos al azar.

In [ ]:
import random

# Flotante aleatorio >= 0 y < 1.0
print(random.random())      

# Flotante aleatorio >= 1 y <10.0       
print(random.uniform(1,10))

# Entero aleatorio de 0 a 9, 10 excluído
print(random.randrange(10))

# Entero aleatorio de 0 a 100
print(random.randrange(0,101))

# Entero aleatorio de 0 a 100 cada 2 números, múltiples de 2
print(random.randrange(0,101,2))

# Entero aleatorio de 0 a 100 cada 5 números, múltiples de 5
print(random.randrange(0,101,5))

In [ ]:
help(random)

In [ ]:
# Letra aleatoria
print(random.choice('Hola mundo'))

# Elemento aleatorio
print(random.choice([1,2,3,4,5]))

# Dos elementos aleatorios
print(random.sample([1,2,3,4,5], 2))

In [ ]:
# Barajar una lista, queda guardado
lista = [1,2,3,4,5]
random.shuffle(lista)
print(lista)

###**re**

Es el módulo de las expresiones regulares (Regular Expressions). Utilizando una sintaxis especial, sirven para hacer comprobaciones y búsquedas. Son especialmente útiles trabajando con cadenas de caracteres, pero incluye muchos métodos alternativos.

In [ ]:
import re
patron1 = '[^A-Za-z0-9 ]+'
patron2 = '[^A-Za-z ]+'
cadena = 'Juan4 $Perez5%'
print(re.sub(patron1, '_', cadena))
print(re.sub(patron2, '_', cadena))

###**os** 

Funcionalidades dependientes del sistema Operativo.

In [ ]:
import os 
# Conocer el Directorio Actual
print(os.getcwd())
# Saber si el directorio Existe
print(os.path.exists('/content'))

###**sys**

Nos permite conseguir información del entorno del sistema.

In [ ]:
import sys
#Retorna el número de versión de Python 
print(sys.version)
#Retorna la plataforma sobre la cuál se está ejecutando el intérprete
print(sys.platform)

###**csv**

El módulo CSV tiene varias funciones y clases disponibles para leer y escribir CSVs.

#### Integrando Google Drive con Colab

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

#### Leyendo un archivo CSV

El archivo que se va a cargar fue tomado de los datos abiertos de Accidentes de tránsito registrados por la Secretaría de Movilidad de la Alcaldía de Medellin, desde el año 2014 al año en curso.  [Fuente](http://medata.gov.co/dataset/accidentalidad)

In [ ]:
from csv import reader
opened_file = open('/content/gdrive/My Drive/ML_COURSES_CEC/Ciencia de Datos con Python/Estudiantes/Notebooks/Datasets/accidentalidad.csv', encoding='utf-8')
read_file = reader(opened_file,delimiter=';')

In [ ]:
read_file

In [ ]:
# Visualizando la información
apps_data = list(read_file)
apps_data[:2]

In [ ]:
# Funcion que genera diccionario de frecuencias
def freq_table(data_set, index):
    frequency_table = {}
    
    for row in data_set[1:]:
        value = row[index]
        if value in frequency_table:
            frequency_table[value] += 1
        else:
            frequency_table[value] = 1
        
    return frequency_table

In [ ]:
# Clases de Accidentes
freq_table(apps_data,5)

In [ ]:
# Localizacion de Accidentes
freq_table(apps_data,9)

In [ ]:
# Gravedad de los Accidentes
freq_table(apps_data,17)