# Data Transformation

## What is data transformation?

Many times in real life, you will be working with imperfect datasets with quality issues. **Data transformation** is the process of modifying a dataset in appropriate ways in order to eliminate these quality issues. Some of these activities include:

- Splitting columns
- Converting dates to `datetime` objects, which are far more easily manipulable using `pandas` libraries
- Encoding categorical variables
- Dealing with and replacing null or missing values
- Creating unique identifiers

The `pandas` library has many functions which can help with this task. In addition, you will also be using some other standard libraries like `string`, `base64`, and `sklearn`.

In [5]:
import sklearn
sklearn.__version__
#'0.23.2'

'0.23.1'

In [3]:
!pip install scikit-learn --user --upgrade

Collecting scikit-learn
  Downloading scikit_learn-0.23.2-cp38-cp38-win_amd64.whl (6.8 MB)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\ctobon\anaconda3\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\ctobon\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\ctobon\anaconda3\lib\site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\ctobon\anaconda3\lib\site-packages (from scikit-learn) (0.16.0)
Installing collected packages: scikit-learn
Successfully installed scikit-learn-0.23.2

In [6]:
import pandas as pd
import base64
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

pd.set_option('max_columns', None)
data = pd.read_csv('data.csv')
data.head()

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado
0,1,3/26/20,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,Femenino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20
1,2,3/29/20,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,Masculino,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20
2,3,4/3/20,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567893,INFLUENZA HUMANA POR VIRUS NUEVO ...,MARIA BETZAIDA,MEJIA FONSECA,Femenino,,CAPITAL SALUD EPS-S,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,4/3/20
3,4,3/31/20,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567894,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN PABLO,MEJIA FONSECA,Masculino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/31/20
4,5,3/17/20,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567895,INFLUENZA HUMANA POR VIRUS NUEVO ...,LUIS EDUARDO JUNIOR,MEJIA FONSECA,Femenino,,COMPENSAR EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/17/20

## Splitting columns

You can see that the column **ZonaGeografica** includes two pieces of information separated by a hyphen. If you want to work with those pieces of information separately, you will have to split this column:

In [7]:
# See the unique values
data.ZonaGeografica.unique()

array(['BOGOTA DC-BOGOTA DC',
       '* PROCEDENCIA DESCONOCIDA-* PROCEDENCIA DESCONOCIDA'],
      dtype=object)

In [8]:
# You use pandas to split columns
data[['Departamento','Ciudad']] =  data.ZonaGeografica.str.split('-',expand=True,)

In [7]:
data[['ZonaGeografica','Departamento','Ciudad']].head(2).append(data[['ZonaGeografica','Departamento','Ciudad']].tail(2))

            ZonaGeografica Departamento     Ciudad
0      BOGOTA DC-BOGOTA DC    BOGOTA DC  BOGOTA DC
1      BOGOTA DC-BOGOTA DC    BOGOTA DC  BOGOTA DC
23032  BOGOTA DC-BOGOTA DC    BOGOTA DC  BOGOTA DC
23033  BOGOTA DC-BOGOTA DC    BOGOTA DC  BOGOTA DC

As another example, often times you will need to separate names into first and last names:

In [8]:
data[['Nombres']].head(10)

               Nombres
0          DIANA MARIA
1       JUAN SEBASTIAN
2       MARIA BETZAIDA
3           JUAN PABLO
4  LUIS EDUARDO JUNIOR
5            ESTEFANI
6      LUZ  ELIZABETH
7             WILLIAM
8       JENIFER LORENA
9         JAIME ANDRES

In [9]:
# Some names could have more that two names, for that reason you can use an additional parameter n where you define the number of splits.
# n=1, la cero q es la original y agrega una mas
# Luis Eduardo Jr = Luis - Eduardo Jr
#con rsplit, de derecha a izq = Luis Eduardo - Jr
data[['PrimerNombre','SegundoNombre']] =  data.Nombres.str.split(n=1,expand=True,)

In [10]:
data[['Nombres','PrimerNombre','SegundoNombre']].head().append(data[['Nombres','PrimerNombre','SegundoNombre']].tail())

                   Nombres PrimerNombre   SegundoNombre
0              DIANA MARIA        DIANA           MARIA
1           JUAN SEBASTIAN         JUAN       SEBASTIAN
2           MARIA BETZAIDA        MARIA        BETZAIDA
3               JUAN PABLO         JUAN           PABLO
4      LUIS EDUARDO JUNIOR         LUIS  EDUARDO JUNIOR
23029              LIZETH        LIZETH            None
23030       JOSE DESIDERIO         JOSE       DESIDERIO
23031             MARIANA       MARIANA            None
23032      ROGER ALEXANDER        ROGER       ALEXANDER
23033         MARIA ISABEL        MARIA          ISABEL

### Exercise 1:

Split the `Apellidos` column into `PrimerApellido` and `SegundoApellido`.

In [9]:
data.columns

Index(['ID', 'FechaMuestra', 'ZonaGeografica', 'TipoDocumento', 'Documento',
       'Evento', 'Nombres', 'Apellidos', 'Sexo', 'Condicion_Final', 'EAPB',
       'Pais_Residencia', 'Departamento_Residencia', 'Municipio_Residencia',
       'Trabajador_Salud', 'Contacto_Caso_Confirmado', 'EstadoCaso',
       'GenerarResultado', 'FiltroUsuario', 'Tipo_Prueba', 'Fecha_Resultado',
       'Departamento', 'Ciudad'],
      dtype='object')

In [17]:
data[['PrimerApellido','SegundoApellido']] =  data.Apellidos.str.split(n=1,expand=True)

In [16]:
data[['Apellidos','PrimerApellido','SegundoApellido']].head(1000)

         Apellidos PrimerApellido SegundoApellido
0    MEJIA FONSECA          MEJIA         FONSECA
1    MEJIA FONSECA          MEJIA         FONSECA
2    MEJIA FONSECA          MEJIA         FONSECA
3    MEJIA FONSECA          MEJIA         FONSECA
4    MEJIA FONSECA          MEJIA         FONSECA
..             ...            ...             ...
995  MEJIA FONSECA          MEJIA         FONSECA
996  MEJIA FONSECA          MEJIA         FONSECA
997  MEJIA FONSECA          MEJIA         FONSECA
998  MEJIA FONSECA          MEJIA         FONSECA
999  MEJIA FONSECA          MEJIA         FONSECA

[1000 rows x 3 columns]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23034 entries, 0 to 23033
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        23034 non-null  int64
 1   FechaMuestra              23034 non-null  object
 2   ZonaGeografica            23034 non-null  object
 3   TipoDocumento             23034 non-null  object
 4   Documento                 23034 non-null  int64
 5   Evento                    23034 non-null  object
 6   Nombres                   23034 non-null  object
 7   Apellidos                 23034 non-null  object
 8   Sexo                      22860 non-null  object
 9   Condicion_Final           23034 non-null  object
 10  EAPB                      19706 non-null  object
 11  Pais_Residencia           8799 non-null   object
 12  Departamento_Residencia   8504 non-null   object
 13  Municipio_Residencia      8529 non-null   object
 14  Trabajador_Salud          23034 non-null  object
 15  Contacto_Caso_Confirmado  23034 non-null  object
 16  EstadoCaso                23034 non-null  object
 17  GenerarResultado          23034 non-null  int64
 18  FiltroUsuario             23034 non-null  int64
 19  Tipo_Prueba               23034 non-null  object
 20  Fecha_Resultado           23034 non-null  object
 21  Departamento              23034 non-null  object
 22  Ciudad                    23034 non-null  object
 23  PrimerApellido            23034 non-null  object
 24  SegundoApellido           23034 non-null  object
dtypes: int64(4), object(21)
memory usage: 4.4+ MB

## Working with categorical variables and dates

Let's check the columns we have:

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23034 entries, 0 to 23033
Data columns (total 25 columns):
ID                          23034 non-null int64
FechaMuestra                23034 non-null object
ZonaGeografica              23034 non-null object
TipoDocumento               23034 non-null object
Documento                   23034 non-null int64
Evento                      23034 non-null object
Nombres                     23034 non-null object
Apellidos                   23034 non-null object
Sexo                        22860 non-null object
Condicion_Final             23034 non-null object
EAPB                        19706 non-null object
Pais_Residencia             8799 non-null object
Departamento_Residencia     8504 non-null object
Municipio_Residencia        8529 non-null object
Trabajador_Salud            23034 non-null object
Contacto_Caso_Confirmado    23034 non-null object
EstadoCaso                  23034 non-null object
GenerarResultado            23034 non-null int64
FiltroUsuario               23034 non-null int64
Tipo_Prueba                 23034 non-null object
Fecha_Resultado             23034 non-null object
Departamento                23034 non-null object
Ciudad                      23034 non-null object
PrimerNombre                23034 non-null object
SegundoNombre               17540 non-null object
dtypes: int64(4), object(21)
memory usage: 4.4+ MB

### `datetime` conversion

You can see that `FechaMuestra` is structured as a date, but it cannot be manipulated as if it were a date! Thus, let's go ahead and convert it to a `datetime` object so that we can use various Python functions on it:

In [13]:
data.FechaMuestra.unique()

array(['3/26/20', '3/29/20', '4/3/20', '3/31/20', '3/17/20', '3/30/20',
       '3/19/20', '3/23/20', '4/1/20', '4/7/20', '3/18/20', '4/6/20',
       '3/13/20', '3/22/20', '3/14/20', '4/5/20', '3/21/20', '4/8/20',
       '3/16/20', '4/2/20', '3/28/20', '3/20/20', '3/25/20', '4/4/20',
       '3/27/20', '3/24/20', '4/9/20', '6/19/20', '6/17/20', '6/20/20',
       '6/15/20', '6/18/20', '6/11/20', '6/13/20', '6/16/20', '6/12/20',
       '6/10/20', '6/14/20', '5/29/20', '6/8/20', '6/3/20', '6/9/20',
       '6/7/20', '6/6/20', '6/5/20', '6/2/20', '6/4/20', '4/20/20',
       '4/25/20', '4/26/20', '4/21/20', '4/27/20', '4/28/20', '5/14/20',
       '5/28/20', '4/18/20', '4/17/20', '4/22/20', '4/24/20', '4/16/20',
       '4/23/20', '3/12/20', '6/1/20', '5/26/20', '5/25/20', '5/30/20',
       '5/31/20', '5/24/20', '5/27/20', '5/21/20', '5/15/20', '5/22/20',
       '5/10/20', '5/12/20', '5/13/20', '5/16/20', '5/17/20', '5/20/20',
       '5/23/20', '4/10/20', '4/11/20', '4/15/20', '5/11/20', '5/9/20',
       '5/1/20', '5/8/20', '5/2/20', '5/4/20', '5/5/20', '5/6/20',
       '5/3/20', '5/7/20', '4/30/20', '5/18/20', '5/19/20', '4/19/20',
       '4/13/20', '4/29/20', '4/14/20', '4/12/20', '3/15/20', '3/2/20',
       '2/14/20'], dtype=object)

In [14]:
data.FechaMuestra = pd.to_datetime(data.FechaMuestra)

In [15]:
data.FechaMuestra.head(10)

0   2020-03-26
1   2020-03-29
2   2020-04-03
3   2020-03-31
4   2020-03-17
5   2020-04-03
6   2020-03-30
7   2020-03-19
8   2020-03-23
9   2020-04-01
Name: FechaMuestra, dtype: datetime64[ns]

In [16]:
# You can create additional information with the date as WeekDay
# holidays

data['WeekDay'] = data.FechaMuestra.dt.day_name()
data.head(2)

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre,WeekDay
0,1,2020-03-26,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,Femenino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20,BOGOTA DC,BOGOTA DC,DIANA,MARIA,Thursday
1,2,2020-03-29,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,Masculino,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20,BOGOTA DC,BOGOTA DC,JUAN,SEBASTIAN,Sunday

In [17]:
data.WeekDay.unique()

array(['Thursday', 'Sunday', 'Friday', 'Tuesday', 'Monday', 'Wednesday',
       'Saturday'], dtype=object)

In [18]:
# You can convert the column as categorical and do it ordered.
cat_dtype = pd.api.types.CategoricalDtype(categories=['Monday','Tuesday','Wednesday','Thursday', 'Friday', 'Sunday', 'Saturday'], ordered=True)
data.WeekDay = data.WeekDay.astype(cat_dtype) # int str

In [19]:
data.WeekDay.unique()

[Thursday, Sunday, Friday, Tuesday, Monday, Wednesday, Saturday]
Categories (7, object): [Monday < Tuesday < Wednesday < Thursday < Friday < Sunday < Saturday]

### Replacing null values

Now, we can do a `describe()` on the categorical variables to see more information about them:

In [20]:
data.describe(include ='O')

,ZonaGeografica,TipoDocumento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre
count,23034,23034,23034,23034,23034,22860,23034,19706,8799,8504,8529,23034,23034,23034,23034,23034,23034,23034,23034,17540
unique,2,9,5,12928,1,4,3,114,4,8,101,2,2,1,1,102,2,2,3384,2952
top,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN CARLOS,MEJIA FONSECA,Femenino,,COMPENSAR EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,RT-PCR,5/21/20,BOGOTA DC,BOGOTA DC,MARIA,ANDRES
freq,22326,20278,22063,74,23034,11756,16923,3829,8796,8479,8145,22501,20969,23034,23034,790,22326,22326,1166,361

For example, `Sexo` has four categories:

In [21]:
data.Sexo.unique()

array(['Femenino', 'Masculino', 'Mujer', 'Hombre', nan], dtype=object)

You can see that there are problems with this column; namely, you need to unify the values and replace the null ones:

In [22]:
# valor q aparece y el valor por el q se va a reemplazar
sexo = {'Mujer':'Femenino','Hombre':'Masculino','Femenino':'Femenino','Masculino':'Masculino'}

In [23]:
data.Sexo = data.Sexo.map(sexo)

In [24]:
data.Sexo.unique()

array(['Femenino', 'Masculino', nan], dtype=object)

In [25]:
data.Sexo.fillna('Sin Información', inplace = True)

In [26]:
data.Sexo.unique()

array(['Femenino', 'Masculino', 'Sin Información'], dtype=object)

### Encoding labels

Sometimes, it is helpful to encode categorical variable values as numbers instead of text:

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23034 entries, 0 to 23033
Data columns (total 26 columns):
ID                          23034 non-null int64
FechaMuestra                23034 non-null datetime64[ns]
ZonaGeografica              23034 non-null object
TipoDocumento               23034 non-null object
Documento                   23034 non-null int64
Evento                      23034 non-null object
Nombres                     23034 non-null object
Apellidos                   23034 non-null object
Sexo                        23034 non-null object
Condicion_Final             23034 non-null object
EAPB                        19706 non-null object
Pais_Residencia             8799 non-null object
Departamento_Residencia     8504 non-null object
Municipio_Residencia        8529 non-null object
Trabajador_Salud            23034 non-null object
Contacto_Caso_Confirmado    23034 non-null object
EstadoCaso                  23034 non-null object
GenerarResultado            23034 non-null int64
FiltroUsuario               23034 non-null int64
Tipo_Prueba                 23034 non-null object
Fecha_Resultado             23034 non-null object
Departamento                23034 non-null object
Ciudad                      23034 non-null object
PrimerNombre                23034 non-null object
SegundoNombre               17540 non-null object
WeekDay                     23034 non-null category
dtypes: category(1), datetime64[ns](1), int64(4), object(20)
memory usage: 4.4+ MB

In [28]:
data.Sexo = data.Sexo.astype('category')
#despues aparece como categoria no ordenada

In [29]:
data.Sexo.unique()

[Femenino, Masculino, Sin Información]
Categories (3, object): [Femenino, Masculino, Sin Información]

In [30]:
data.head(2)

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre,WeekDay
0,1,2020-03-26,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,Femenino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20,BOGOTA DC,BOGOTA DC,DIANA,MARIA,Thursday
1,2,2020-03-29,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,Masculino,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20,BOGOTA DC,BOGOTA DC,JUAN,SEBASTIAN,Sunday

Then you can assign the encoded variable to a new column:

In [31]:
data.Sexo.cat.codes

0        0
1        1
2        0
3        1
4        0
5        0
6        0
7        1
8        0
9        1
10       0
11       0
12       0
13       0
14       0
15       1
16       1
17       1
18       1
19       0
20       0
21       0
22       0
23       1
24       1
25       0
26       1
27       0
28       0
29       1
        ..
23004    0
23005    0
23006    1
23007    0
23008    0
23009    0
23010    0
23011    0
23012    1
23013    1
23014    1
23015    0
23016    1
23017    0
23018    0
23019    0
23020    1
23021    0
23022    0
23023    0
23024    0
23025    1
23026    0
23027    1
23028    1
23029    0
23030    1
23031    0
23032    1
23033    0
Length: 23034, dtype: int8

In [32]:
# you 
data['SexoCat'] = data.Sexo.cat.codes

In [33]:
data.head(2)

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre,WeekDay,SexoCat
0,1,2020-03-26,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,Femenino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20,BOGOTA DC,BOGOTA DC,DIANA,MARIA,Thursday,0
1,2,2020-03-29,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,Masculino,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20,BOGOTA DC,BOGOTA DC,JUAN,SEBASTIAN,Sunday,1

In [34]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
data["CodeSexo"] = lb_make.fit_transform(data["Sexo"])
data[["Sexo", "CodeSexo"]].head(10)

        Sexo  CodeSexo
0   Femenino         0
1  Masculino         1
2   Femenino         0
3  Masculino         1
4   Femenino         0
5   Femenino         0
6   Femenino         0
7  Masculino         1
8   Femenino         0
9  Masculino         1

In [35]:
data["CodeSexo"].value_counts()

0    11791
1    11069
2      174
Name: CodeSexo, dtype: int64

### One-hot encoding

We can go one step further - instead of replacing each possible value of a categorical variable with a number, we can create *separate* columns for each possible value and assign a 1 or 0 (True or False) value to that column. A 1 indicates that that particular row's value for that categorical variable matches the value corresponding to that particular column, and 0 otherwise:

In [36]:
pd.get_dummies(data, columns=["Sexo"]).head(2)

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre,WeekDay,SexoCat,CodeSexo,Sexo_Femenino,Sexo_Masculino,Sexo_Sin Información
0,1,2020-03-26,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20,BOGOTA DC,BOGOTA DC,DIANA,MARIA,Thursday,0,0,1,0,0
1,2,2020-03-29,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20,BOGOTA DC,BOGOTA DC,JUAN,SEBASTIAN,Sunday,1,1,0,1,0

In [37]:
data["Sexo"].values

[Femenino, Masculino, Femenino, Masculino, Femenino, ..., Femenino, Masculino, Femenino, Masculino, Femenino]
Length: 23034
Categories (3, object): [Femenino, Masculino, Sin Información]

In [38]:
from sklearn.preprocessing import LabelBinarizer

jobs_encoder = LabelBinarizer()
jobs_encoder.fit(data['Sexo'])
transformed = jobs_encoder.transform(data['Sexo'])
ohe_df = pd.DataFrame(transformed)
ohe_df.head()

   0  1  2
0  1  0  0
1  0  1  0
2  1  0  0
3  0  1  0
4  1  0  0

In [39]:
from sklearn.preprocessing import LabelBinarizer

jobs_encoder = LabelBinarizer()
jobs_encoder.fit(data['Sexo'])
transformed = jobs_encoder.transform(data['Sexo'])
ohe_df = pd.DataFrame(transformed)
data = pd.concat([data, ohe_df], axis=1)

In [40]:
data.head(2)

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre,WeekDay,SexoCat,CodeSexo,0,1,2
0,1,2020-03-26,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,Femenino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20,BOGOTA DC,BOGOTA DC,DIANA,MARIA,Thursday,0,0,1,0,0
1,2,2020-03-29,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,Masculino,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20,BOGOTA DC,BOGOTA DC,JUAN,SEBASTIAN,Sunday,1,1,0,1,0

In [41]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()

In [42]:
pd.__version__

'0.24.2'

In [43]:
X = data['Sexo'].to_numpy().reshape(-1, 1)
X

array([['Femenino'],
       ['Masculino'],
       ['Femenino'],
       ...,
       ['Femenino'],
       ['Masculino'],
       ['Femenino']], dtype=object)

In [44]:
X = data['Sexo'].to_numpy().reshape(-1, 1)
enc.fit(X)

OneHotEncoder()

In [45]:
enc.categories_

[array(['Femenino', 'Masculino', 'Sin Información'], dtype=object)]

In [46]:
enc.transform(X).toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [47]:
#convierte lo numerico a descripción
enc.inverse_transform([[1., 0., 0.],[0., 1., 0.],[0., 0., 1.]])

array([['Femenino'],
       ['Masculino'],
       ['Sin Información']], dtype=object)

In [48]:
enc.get_feature_names(['Gender'])

array(['Gender_Femenino', 'Gender_Masculino', 'Gender_Sin Información'],
      dtype=object)

In [49]:
pd.set_option('max_columns', None)
data.head(2)

,ID,FechaMuestra,ZonaGeografica,TipoDocumento,Documento,Evento,Nombres,Apellidos,Sexo,Condicion_Final,EAPB,Pais_Residencia,Departamento_Residencia,Municipio_Residencia,Trabajador_Salud,Contacto_Caso_Confirmado,EstadoCaso,GenerarResultado,FiltroUsuario,Tipo_Prueba,Fecha_Resultado,Departamento,Ciudad,PrimerNombre,SegundoNombre,WeekDay,SexoCat,CodeSexo,0,1,2
0,1,2020-03-26,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567891,INFLUENZA HUMANA POR VIRUS NUEVO ...,DIANA MARIA,MEJIA FONSECA,Femenino,,ALIANSALUD,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/26/20,BOGOTA DC,BOGOTA DC,DIANA,MARIA,Thursday,0,0,1,0,0
1,2,2020-03-29,BOGOTA DC-BOGOTA DC,Cédula de ciudadania,1234567892,INFLUENZA HUMANA POR VIRUS NUEVO ...,JUAN SEBASTIAN,MEJIA FONSECA,Masculino,,SURA EPS,COLOMBIA,BOGOTA DC,BOGOTA DC,NO,NO,RESULTADO_GENERADO ...,1,29628,RT-PCR,3/29/20,BOGOTA DC,BOGOTA DC,JUAN,SEBASTIAN,Sunday,1,1,0,1,0

### Selecting columns by type

If you want to only work with categorical variables, it is possible via the `select_dtypes()` method:

In [50]:
#copia del dataframe, filtro por object
cat_data = data.select_dtypes(include=['object']).copy()
cat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23034 entries, 0 to 23033
Data columns (total 19 columns):
ZonaGeografica              23034 non-null object
TipoDocumento               23034 non-null object
Evento                      23034 non-null object
Nombres                     23034 non-null object
Apellidos                   23034 non-null object
Condicion_Final             23034 non-null object
EAPB                        19706 non-null object
Pais_Residencia             8799 non-null object
Departamento_Residencia     8504 non-null object
Municipio_Residencia        8529 non-null object
Trabajador_Salud            23034 non-null object
Contacto_Caso_Confirmado    23034 non-null object
EstadoCaso                  23034 non-null object
Tipo_Prueba                 23034 non-null object
Fecha_Resultado             23034 non-null object
Departamento                23034 non-null object
Ciudad                      23034 non-null object
PrimerNombre                23034 non-null object
SegundoNombre               17540 non-null object
dtypes: object(19)
memory usage: 3.3+ MB

### Creating a unique identifier

In some situations, you will not have a unique identifier readily available for your data. However, you can create one based on a combination of the available data, such that no two rows could possibly ever exhibit the same combination. Here, for examples, the columns `Nombres` and `Apellidos` can be combined and converted into a unique ID:

In [51]:
data['id_unique'] = data.apply(lambda x: ':'.join([str(x['Nombres']), str(x['Apellidos'])]), axis=1)
data['id_unique'].head()

0            DIANA MARIA:MEJIA FONSECA
1         JUAN SEBASTIAN:MEJIA FONSECA
2         MARIA BETZAIDA:MEJIA FONSECA
3             JUAN PABLO:MEJIA FONSECA
4    LUIS EDUARDO JUNIOR:MEJIA FONSECA
Name: id_unique, dtype: object

In [52]:
data['id_unique'] = data.apply(lambda x: ':'.join([str(x['Nombres']), str(x['Apellidos'])]), axis=1)
data['id_unique'] = data['id_unique'].apply(lambda x: base64.b64encode(x.encode()).decode())
data['id_unique'].unique()

array(['RElBTkEgTUFSSUE6TUVKSUEgRk9OU0VDQQ==',
       'SlVBTiBTRUJBU1RJQU46TUVKSUEgRk9OU0VDQQ==',
       'TUFSSUEgQkVUWkFJREE6TUVKSUEgRk9OU0VDQQ==', ...,
       'TElCSUEgRVNURUxBOk1FSklBIEZPTlNFQ0E=',
       'TUVSTElTIFZJVklBTkE6TUVKSUEgRk9OU0VDQQ==',
       'RU5NQVJZIEpPU0VGSU5BOk1FSklBIEZPTlNFQ0E='], dtype=object)

### Working with null values

There are a few ways to go about handling null values in `pandas` DataFrames. Earlier, we simply replaced missing values with text that indicated that no information was available.

Here, we will use a new method - **imputation**. Let's first check which of our columns actually contain null values:

In [53]:
data = pd.read_csv('crypto-markets.txt')
data.head(2)

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,target-coin,TGT,Target Coin,29-09-2017,607,0.028961,0.054766,0.028961,0.041777,69996,0.0,0.4966,0.03
1,target-coin,TGT,Target Coin,30-09-2017,607,0.041783,0.046196,0.031435,0.031744,5725,0.0,0.0209,0.01

In [54]:
#valida si al menos 1 estuvo en verdadero
data.isnull().any()

slug           False
asset          False
name           False
date           False
ranknow        False
open            True
high           False
low             True
close          False
volume         False
market         False
close_ratio    False
spread         False
dtype: bool

We'll go ahead and **impute** the missing values; that is, find suitable replacement values based on **interpolating** from the rest of the data:

In [55]:
imputer = IterativeImputer()

cols_to_impute = ['open', 'low']

imputed_df = pd.DataFrame(imputer.fit_transform(data[cols_to_impute]))

print(imputed_df.head(2))
imputed_df.columns = cols_to_impute

data[cols_to_impute] = imputed_df[cols_to_impute]

data.isnull().any()

          0         1
0  0.028961  0.028961
1  0.041783  0.031435

slug           False
asset          False
name           False
date           False
ranknow        False
open           False
high           False
low            False
close          False
volume         False
market         False
close_ratio    False
spread         False
dtype: bool

## Strings

String manipulation is another important component of data transformation.

In [56]:
text = "Hello, \n\tWorld!"
text

'Hello, \n\tWorld!'

In [57]:
print(text)

Hello,
	World!

When working with strings, we can use the `string` library to access some useful characters:

In [58]:
import string
from string import Formatter
from string import Template

# String constants
print('ascii_letters: ',string.ascii_letters)
print('ascii_lowercase: ',string.ascii_lowercase)
print('ascii_uppercase: ',string.ascii_uppercase)
print('digits: ',string.digits)
print('hexdigits: ',string.hexdigits)
print('whitespace: ',string.whitespace)  # ' \t\n\r\x0b\x0c'
print('punctuation: ',string.punctuation)
print('printable: ',string.printable)

ascii_letters:  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
ascii_lowercase:  abcdefghijklmnopqrstuvwxyz
ascii_uppercase:  ABCDEFGHIJKLMNOPQRSTUVWXYZ
digits:  0123456789
hexdigits:  0123456789abcdefABCDEF
whitespace:

punctuation:  !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
printable:  0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [59]:
# Changing text
print('hello world ds4a'.capitalize())
print('hello world ds4a'.upper())
print('HELLO WORLD DS4A'.lower())
print('  123456  '.lstrip())
print('  123456  '.rstrip())
print('  123456  '.strip())

Hello world ds4a
HELLO WORLD DS4A
hello world ds4a
123456
  123456
123456

In [62]:
# Looking in text
print('hello world ML Python'.count('o'))
print('hello world ML Python'.endswith('a'))
print('hello world ML Python'.startswith('a'))
print('hello world ML Python'.find('o'))
print('hello world ML Python'.find('z'))
print('hello world ML Python'.index('o'))
print('hello123'.isalnum()) # Return True if all characters in the string are alphanumeric and there is at least one character, False otherwise.
print('123456'.isdigit()) # Return True if all characters in the string are digits and there is at least one character, False otherwise. 
print('hello'.isalpha()) # Return True if all characters in the string are alphabetic and there is at least one character, False otherwise.

3
False
False
4
-1
4
True
True
True

In [61]:
# Other functions
print('hello'.center(50,'*'))
print('123456'.zfill(10))

**********************hello***********************
0000123456